<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>analyze your text</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TextUtils.in</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">about</a>
                    <a class="nav-link disabled">contact</a>
                </div>
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome to Text utils!</strong> Enjoy working with your text here.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container">
        <form action="\analyze" method="post">{% csrf_token %}
            <label for="exampleFormControlTextarea1">Enter Your text here.</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="9" name="text">
        </textarea>
            <div class="form-check form-switch">
                <input class="form-check-input" name="removepunc" type="checkbox" role="switch" id="flexSwitchCheckChecked1" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked1" >Remove
                    punctuation</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" name="fullcaps" type="checkbox" role="switch" id="flexSwitchCheckChecked2" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked2" > UPPER CASE</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" name="newlineremover" type="checkbox" role="switch" id="flexSwitchCheckChecked3" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked3" >New line Remover</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" name="extraspaceremover" type="checkbox" role="switch" id="flexSwitchCheckChecked4" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked4" >Extra Space Remover</label>
            </div>
            <button  type="submit" class="btn btn-dark">Analyze Text</button>
        </form>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>